<rbc-tab>
  <rbc-tab-content name="First">
    First
  </rbc-tab-content>
  <rbc-tab-content name="Second">
    Second
  </rbc-tab-content>
  <rbc-tab-content name="Third">
    Third
  </rbc-tab-content>
</rbc-tab>
<pre class="mt-1">{{ tabContent }}</pre>
