<h4>Template Driven</h4>
<form>
  <rbc-radio name="movie" value="action" [(ngModel)]="templateRadioValue">Action</rbc-radio>
  <rbc-radio name="movie" value="drama" [(ngModel)]="templateRadioValue" [style.marginLeft.px]="10">Drama</rbc-radio>
  <rbc-radio name="movie" value="comedy" [(ngModel)]="templateRadioValue" [style.marginLeft.px]="10" disabled="true"
    >Comedy</rbc-radio
  >
</form>
<p>Template Value is: {{ templateRadioValue }}</p>
<pre>
    {{ templateHtml }}
</pre>

<h4>Reactive</h4>
<form [formGroup]="form">
  <rbc-radio formControlName="movie" value="action">Action</rbc-radio>
  <rbc-radio formControlName="movie" value="drama" [style.marginLeft.px]="10">Drama</rbc-radio>
  <rbc-radio formControlName="movie" value="comedy" [style.marginLeft.px]="10">Comedy</rbc-radio>
</form>
<p>Reactive Value is: {{ reactiveRadioValue }}</p>
<pre>
  {{ reactiveHtml }}
</pre>
