<div class="d-flex jc-space-around mt-1">
  <div [style.width.px]="100">
    <rbc-progressbar progress="40%"></rbc-progressbar>
  </div>
  <div [style.width.px]="100">
    <rbc-progressbar round="true" [progress]="progressVal"></rbc-progressbar>
  </div>
  <div [style.width.px]="100">
    <rbc-progressbar size="medium" progress="40%"></rbc-progressbar>
  </div>
  <div [style.width.px]="100">
    <rbc-progressbar size="large" progress="40%"></rbc-progressbar>
  </div>
</div>
<pre class="mt-1">{{ progressbarContent }}</pre>
