<h4>Template Driven Form</h4>
<form>
  <rbc-checkbox [(ngModel)]="checkedState" name="checkbox">Yes</rbc-checkbox>
</form>
<p>Template Driven Form Value: {{ checkedState }}</p>
<pre>
  {{ templateHtml }}
</pre>

<h4 class="mt-1">Reactive Form</h4>
<form [formGroup]="form">
  <rbc-checkbox formControlName="checkbox">Yes</rbc-checkbox>
</form>
<p>Reactive Value: {{ checkbox.value }}</p>
<p>Pristine: {{ checkbox.pristine }}</p>
<p>Touched: {{ checkbox.touched }}</p>
<p>Dirty: {{ checkbox.dirty }}</p>
<p>Untouched: {{ checkbox.untouched }}</p>
<pre>
  {{ reactiveHtml }}
</pre>
