<h4>Tables</h4>
<rbc-tab>
  <rbc-tab-content name="Static, Pagination">
    <rbc-datatable
      [columns]="dataTableTesting.columns"
      pagination="true"
      pagination-display-preselected="10"
      [rows]="dataTableTesting.rows"
    ></rbc-datatable>
  </rbc-tab-content>
  <rbc-tab-content name="Colspans headers">
    <rbc-datatable
      columns-group="true"
      [columns]="dataTableTesting.columns"
      [rows]="dataTableTesting.rows.slice(0, 5)"
    ></rbc-datatable>
  </rbc-tab-content>
  <rbc-tab-content name="Sortable">
    <rbc-datatable
      [columns]="dataTableTesting.columns"
      [rows]="dataTableTesting.rows.slice(0, 5)"
      sortable="true"
    ></rbc-datatable>
  </rbc-tab-content>
  <rbc-tab-content name="Global Search">
    <rbc-datatable
      [columns]="dataTableTesting.columns"
      [rows]="dataTableTesting.rows.slice(0, 5)"
      global-search="true"
    ></rbc-datatable>
  </rbc-tab-content>
</rbc-tab>
