<div class="d-flex jc-space-around mt-1">
  <rbc-tooltip icon="calendar" hover="true" message="Calendar"></rbc-tooltip>
  <rbc-tooltip message="*Minimum initial investment is $25,000" title="Initial Investment"></rbc-tooltip>
  <rbc-tooltip title="Highlights" icon="star">
    <ul>
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing Phasellus eget venenatis risus, ut vulputate augue. Mauris
        mollis pretium quam, a finibus lacus.
      </li>
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing Phasellus eget venenatis risus, ut vulputate augue. Mauris
        mollis pretium quam, a finibus lacus.
      </li>
    </ul>
  </rbc-tooltip>
</div>
<pre class="mt-1">{{ tooltipContent }}</pre>
