<rbc-alert header="WM Component Library">I am the alert component from the WM component library</rbc-alert>
<rbc-alert type="danger" header="WM Component Library"
  >I am the alert component from the WM component library</rbc-alert
>
<rbc-alert type="warning" header="WM Component Library"
  >I am the alert component from the WM component library</rbc-alert
>
<rbc-alert type="success" header="WM Component Library"
  >I am the alert component from the WM component library</rbc-alert
>
<pre>
  {{ alertContent }}
</pre>
