<h4>Template Driven</h4>
<div [style.width.px]="500">
  <form>
    <rbc-datepicker
      [(ngModel)]="datepickerValue"
      errorLabel="Invalid Date"
      label="Select Date"
      name="datePicker"
    ></rbc-datepicker>
  </form>
  Template Drive Value: {{ datepickerValue }}
  <pre>
  {{ templateHtml }}
</pre
  >
</div>

<h4 class="mt-1">Reactive</h4>
<div [style.width.px]="500">
  <form [formGroup]="form">
    <rbc-datepicker errorLabel="Invalid Date" label="Select Date" formControlName="datePicker"></rbc-datepicker>
  </form>
  <p>Reactive Value: {{ datePicker.value }}</p>
  <p>Pristine: {{ datePicker.pristine }}</p>
  <p>Touched: {{ datePicker.touched }}</p>
  <p>Dirty: {{ datePicker.dirty }}</p>
  <p>Untouched: {{ datePicker.untouched }}</p>
  <pre>
    {{ reactiveHtml }}
  </pre>
</div>
