<h4>Template Driven</h4>
<form>
  <div [style.width.px]="300">
    <rbc-multiselect
      [options]="templateOptions"
      name="mutliselect"
      [height]="dropdownHeight"
      label="Multiselect Demo"
      [(ngModel)]="multiSelectValue"
    ></rbc-multiselect>
  </div>
</form>
Template Driven Value:
<pre>{{ multiSelectValue | json }}</pre>
<pre>
  {{ templateHtml }}
</pre>
<h4 class="mt-1">Reactive</h4>
<form [formGroup]="form">
  <div [style.width.px]="300">
    <rbc-multiselect
      [options]="reactiveOptions"
      formControlName="multiselect"
      [height]="dropdownHeight"
      label="Multiselect Demo"
    ></rbc-multiselect>
  </div>
</form>
Reactive Value:
<pre>{{ multiselect.value | json }}</pre>
<p>Pristine: {{ multiselect.pristine }}</p>
<p>Touched: {{ multiselect.touched }}</p>
<p>Dirty: {{ multiselect.dirty }}</p>
<p>Untouched: {{ multiselect.untouched }}</p>
<pre>
  {{ reactiveHtml }}
</pre>
