<h4>Template Driven</h4>
<form>
  <div [style.width.px]="300">
    <rbc-input [(ngModel)]="inputValue" name="inputTest" helpText="I am helper text" label="I am a label"></rbc-input>
  </div>
</form>
Template Driven Value: {{ inputValue }}
<pre>
  {{ templateHtml }}
</pre>

<h4 class="mt-1">Reactive</h4>
<form [formGroup]="form">
  <div [style.width.px]="300">
    <rbc-input formControlName="input" name="inputTest" helpText="I am helper text" label="I am a label"></rbc-input>
  </div>
</form>
<p>Reactive Value: {{ input.value }}</p>
<p>Pristine: {{ input.pristine }}</p>
<p>Touched: {{ input.touched }}</p>
<p>Dirty: {{ input.dirty }}</p>
<p>Untouched: {{ input.untouched }}</p>
<pre>
  {{ reactiveHtml }}
</pre>
