<div class="side-nav-content">
  <rbc-top-nav
    [id]="topnavid"
    [fullWidth]="fullWidth"
    [logoLink]="logoLink"
    [logo]="logo"
    [logoAlt]="logoAlt"
    [searchPlaceholder]="searchPlaceholder"
  >
    <ng-container secondary-left> </ng-container>

    <ng-container secondary>
      <rbc-top-nav-item
        [id]="dropdownId"
        [dropdown]="dropdown"
        [dropdownPosition]="dropdownPosition"
        [dropdownArrow]="dropdownArrow"
        [icon]="dropdownIcon"
        [iconWeight]="dropdownIconWeight"
      >
        <ng-container dropdown-trigger>
          Canada: English
        </ng-container>
        <ng-container dropdown-content>
          <rbc-top-nav-item>
            English
          </rbc-top-nav-item>
          <rbc-top-nav-item>
            Français
          </rbc-top-nav-item>
        </ng-container>
      </rbc-top-nav-item>
    </ng-container>

    <rbc-top-nav-item>
      <rbc-badge message="4">
        <i class="fal fa-bell fa-2x"></i>
      </rbc-badge>
    </rbc-top-nav-item>
  </rbc-top-nav>

  <rbc-side-nav
    [id]="id"
    [navIsToggled]="testData.navIsToggled"
    [toggle]="toggle"
    [arrows]="arrows"
    [search]="search"
    [searchPlaceholder]="searchPlaceholder"
    [showHamburger]="showHamburger"
    [hamburgerPosition]="hamburgerPosition"
  >
    <li
      rbc-side-nav-item
      *ngFor="let route of testData.sideNavItems"
      [routeName]="route.name"
      [router]="!!route.routerLinkOptions"
      [routerOptions]="!!route.routerLinkOptions ? route.routerLinkOptions : null"
      [expandable]="route.children && !!route.children.length"
      [icon]="route.icon"
      [href]="route.link"
    >
      <ng-container expand-link-text>
        <span>{{ route.displayName }}</span>
      </ng-container>
      <ng-container expand-link-items>
        <li
          rbc-side-nav-item
          *ngFor="let expand of route.children"
          [href]="expand.link"
          [routeName]="expand.name"
          [router]="!!expand.routerLinkOptions"
          [routerOptions]="!!expand.routerLinkOptions ? expand.routerLinkOptions : null"
          [anchorLinks]="expand.anchorLinks"
        >
          <ng-container alt-link-text>
            <span>{{ expand.displayName }}</span>
          </ng-container>
          <ng-container router-link-text>
            <span>{{ expand.displayName }}</span>
          </ng-container>
        </li>
      </ng-container>
      <ng-container alt-link-text>
        <span>{{ route.displayName }}</span>
      </ng-container>
      <ng-container router-link-text>
        <span>{{ route.displayName }}</span>
      </ng-container>
    </li>
  </rbc-side-nav>

  <div class="content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
