<h4>Template Driven Form</h4>
<form>
  <div [style.width.px]="300">
    <rbc-autocomplete
      [options]="autoCompleteOptions"
      [(ngModel)]="preselectValue"
      name="autocomplete"
      label="Autocomplete Demo"
      placeholder="Enter a query"
    ></rbc-autocomplete>
  </div>
</form>
<p>Template Driven Value: {{ preselectValue | json }}</p>
<pre>
  {{ templateHtml }}
</pre>

<h4 class="mt-1">Reactive Form</h4>
<form [formGroup]="form">
  <div [style.width.px]="300">
    <rbc-autocomplete
      [options]="autoCompleteOptions"
      formControlName="autoComplete"
      name="autocomplete"
      label="Autocomplete Demo"
      placeholder="Enter a query"
    ></rbc-autocomplete>
  </div>
</form>
<p>Reactive Value: {{ autoComplete.value | json }}</p>
<p>Pristine: {{ autoComplete.pristine }}</p>
<p>Touched: {{ autoComplete.touched }}</p>
<p>Dirty: {{ autoComplete.dirty }}</p>
<p>Untouched: {{ autoComplete.untouched }}</p>
<pre>
  {{ reactiveHtml }}
</pre>
