<h4>Template Driven</h4>
<form>
  <rbc-select [(ngModel)]="selectValue" [options]="selectOptions" name="select" label="Select Demo"></rbc-select>
</form>
Template Drive Value: {{ selectValue }}
<pre>
  {{ templateHtml }}
</pre>

<h4 class="mt-1">Reactive</h4>
<form [formGroup]="form">
  <rbc-select formControlName="select" [options]="selectOptionsReactive" name="select" label="Select Demo"></rbc-select>
</form>
<p>Reactive Value: {{ select.value }}</p>
<p>Pristine: {{ select.pristine }}</p>
<p>Touched: {{ select.touched }}</p>
<p>Dirty: {{ select.dirty }}</p>
<p>Untouched: {{ select.untouched }}</p>
<pre>
  {{ reactiveHtml }}
</pre>
