<h4>Template Driven</h4>
<form>
  <rbc-switch [(ngModel)]="switchValue" name="switch" label="Permission Given"></rbc-switch>
</form>
Template Driven Value: {{ switchValue }}
<pre>
  {{ templateHtml }}
</pre>

<h4 class="mt-1">Reactive</h4>
<form [formGroup]="form">
  <rbc-switch formControlName="switch" label="Permission Given"></rbc-switch>
</form>
<p>Reactive Value: {{ switch.value }}</p>
<p>Pristine: {{ switch.pristine }}</p>
<p>Touched: {{ switch.touched }}</p>
<p>Dirty: {{ switch.dirty }}</p>
<p>Untouched: {{ switch.untouched }}</p>
<pre>
  {{ reactiveHtml }}
</pre>
