<h4>Template Driven</h4>
<form>
  <rbc-textarea [(ngModel)]="textareaValue" name="textarea"></rbc-textarea>
</form>
Template Driven Value: {{ textareaValue }}
<pre>
  {{ templateHtml }}
</pre>

<h4 class="mt-1">Reactive</h4>
<form [formGroup]="form">
  <rbc-textarea formControlName="textarea"></rbc-textarea>
</form>
<p>Reactive Value: {{ textarea.value }}</p>
<p>Pristine: {{ textarea.pristine }}</p>
<p>Touched: {{ textarea.touched }}</p>
<p>Dirty: {{ textarea.dirty }}</p>
<p>Untouched: {{ textarea.untouched }}</p>
<pre>
  {{ reactiveHtml }}
</pre>
