<rbc-card>
  Without a header.
</rbc-card>

<rbc-card link="#" linkLabel="A link to the top" class="mt-1">
  A link to the top
</rbc-card>

<rbc-card class="mt-1">
  <div header>
    <h3>With a header</h3>
  </div>
  <div footer>
    And a footer
  </div>
</rbc-card>
