<h4>Template Driven</h4>
<form>
  <div class="mt-1 d-flex jc-space-around">
    <rbc-tag [(ngModel)]="gamesValue" name="games" checkable="true">Games</rbc-tag>
    <rbc-tag [(ngModel)]="moviesValue" name="movies" checkable="true">Movies</rbc-tag>
  </div>
</form>
Template Driven Value: {{ gamesValue }}, {{ moviesValue }}
<pre>
  {{ templateHtml }}
</pre>

<h4 class="mt-1">Reactive</h4>
<form [formGroup]="form">
  <div class="mt-1 d-flex jc-space-around">
    <rbc-tag formControlName="games" checkable="true">Games</rbc-tag>
    <rbc-tag formControlName="movies" checkable="true">Movies</rbc-tag>
  </div>
</form>
Reactive Driven Value: {{ games.value }}, {{ movies.value }}

<p>Pristine (Games): {{ games.pristine }}</p>
<p>Touched (Games): {{ games.touched }}</p>
<p>Dirty (Games): {{ games.dirty }}</p>
<p>Untouched (Games): {{ games.untouched }}</p>
<pre>
  {{ reactiveHtml }}
</pre>
