<h4>Template Driven</h4>
<form>
  <rbc-dropdown
    [(ngModel)]="dropdownValue"
    [options]="dropdownOptions"
    name="dropdown"
    [height]="dropdownHeight"
    label="Dropdown Demo"
  ></rbc-dropdown>
</form>
Template Drive Value: {{ dropdownValue }}
<pre>
  {{ templateHtml }}
</pre>

<h4 class="mt-1">Reactive</h4>
<form [formGroup]="form">
  <rbc-dropdown
    formControlName="dropdown"
    [options]="dropdownReactiveOptions"
    label="Dropdown Demo"
    [height]="dropdownHeight"
  ></rbc-dropdown>
</form>
<p>Reactive Value: {{ dropdown.value }}</p>
<p>Pristine: {{ dropdown.pristine }}</p>
<p>Touched: {{ dropdown.touched }}</p>
<p>Dirty: {{ dropdown.dirty }}</p>
<p>Untouched: {{ dropdown.untouched }}</p>
<pre>
  {{ reactiveHtml }}
</pre>
