/* You can add global styles to this file, and also import other style files */
@import "rbc-wm-framework-angular/shared/styles/global.css";

.d-flex {
  display: flex;
}

.side-nav-wrapper .nav-hamburger {
  z-index: 100;
}

.jc-space-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.container {
  margin-top: 1rem !important;
}

@media (min-width: 992px) {
  .side-nav-wrapper {
    top: 1.875rem !important;
  }

  .side-nav {
    margin-top: 5.375rem !important;
  }

  .content {
    padding-top: 5.375rem !important;
  }

  .nav-is-toggled.nav-collapsable .side-nav-content {
    padding-left: 0px !important;
  }
}

// .nav-hamburger {
//   z-index: 111;
// }
