<h4>Template Driven</h4>
<form>
  <div [style.width.px]="500">
    <rbc-slider [(ngModel)]="sliderValue" name="select" [max]="max" display="true"></rbc-slider>
  </div>
</form>
Template Drive Value: {{ sliderValue }}
<pre>
  {{ templateHtml }}
</pre>

<h4 class="mt-1">Reactive</h4>
<form [formGroup]="form">
  <div [style.width.px]="500">
    <rbc-slider formControlName="slider" [max]="max" display="true"></rbc-slider>
  </div>
</form>
<p>Reactive Value: {{ slider.value }}</p>
<p>Pristine: {{ slider.pristine }}</p>
<p>Touched: {{ slider.touched }}</p>
<p>Dirty: {{ slider.dirty }}</p>
<p>Untouched: {{ slider.untouched }}</p>
<pre>
  {{ reactiveHtml }}
</pre>
