<h4>Template Driven</h4>
<form>
  <rbc-toggle-container color="dark">
    <rbc-toggle name="position" value="left" [(ngModel)]="templateModel">
      Left
    </rbc-toggle>
    <rbc-toggle name="position" value="middle" [(ngModel)]="templateModel">
      Middle
    </rbc-toggle>
    <rbc-toggle name="position" value="right" [(ngModel)]="templateModel">
      Right
    </rbc-toggle>
  </rbc-toggle-container>
</form>
Template Driven Value: {{ templateModel }}
<pre>
  {{ templateHtml }}
</pre>

<h4 class="mt-1">Reactive</h4>
<form [formGroup]="form">
  <rbc-toggle-container color="dark">
    <rbc-toggle formControlName="position" value="left">
      Left
    </rbc-toggle>
    <rbc-toggle formControlName="position" value="middle">
      Middle
    </rbc-toggle>
    <rbc-toggle formControlName="position" value="right">
      Right
    </rbc-toggle>
  </rbc-toggle-container>
</form>
<p>Reactive Value: {{ position.value }}</p>
<p>Pristine: {{ position.pristine }}</p>
<p>Touched: {{ position.touched }}</p>
<p>Dirty: {{ position.dirty }}</p>
<p>Untouched: {{ position.untouched }}</p>
<pre>
  {{ reactiveHtml }}
</pre>
