<div class="mt-1 d-flex jc-space-around">
  <rbc-menu hover="true">
    <div rbc-menu-item>Copy</div>
    <div rbc-menu-item>Cut</div>
    <div rbc-menu-item>Paste</div>
  </rbc-menu>
</div>
<pre>{{ menuContent }}</pre>
